body {
    background: var(--post);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--white);
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

main h1 {
    font: 900 55px var(--font-display);
}

main sup {
    color: var(--orange);
    font-style: italic;
    font-size: 28px;
}

.bar {
    width: 15rem;
    height: 1.3rem;
    border: 2px solid var(--post-ink);
    border-radius: 6px;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.blocks {
    width: 3rem;
    height: 75%;
    background: var(--luna-hi);
    margin: 2px;
    border-radius: 2px;

    animation: slide 1.5s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(-4rem);
    }

    to {
        transform: translateX(15rem);
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.5rem;

    color: var(--post-ink);
}